body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  
}
.App{
  text-align: center;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgb(99, 36, 207) 0%, rgb(189, 69, 32) 100%, rgb(24, 206, 182));
width: 100%;
height: 100vh;
}
.App1{
  width: 400px;

position: absolute;
bottom: 100px;
left: 100px;
background-color: burlywood;

line-height: 60px;
border-radius: 20px;
}
.App2{
  width: 400px;
  
position: absolute;
right: 100px;
bottom: 100px;
color: white;
background-color: burlywood;

line-height: 60px;
border-radius: 20px;
}
button{
  margin: 60px;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border: transparent;
}
button:hover{
  background-color: rgb(26, 255, 0);
  transition: 1s;
  cursor: pointer;
}
